*{
    -webkit-box-sizzng:border box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: darkcyan;
    background:linear-gradient(180deg, darkcyan, #fff )

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu-btn {
    display: block;
    width: 70px;
    height: 50px;
    position: relative;
    top:20%;

  }
#open, #open::before, #open::after {
    position: absolute;
    top: 50%; margin-top: -4px;
    left: 50%; margin-left: -30px;
    width: 60px;
    height: 8px;
    background-color: #fff;
  }
  #open::before,
  #open::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  #open::before {
    transform: translateY(-14px);
  }
  #open::after {
    transform: translateY(14px);
  }
.header{
    padding : 0.3em 2rem;
    align-items: center;    
}
.name{
    font-weight: bold;
    align-items: center;

}
.name_logo{
    font-size: 4vw;
    text-decoration: none;
    color: #fff;
    align-items: center;
    display: block;
}

.top_menu_url{
    display: flex;
    align-items: center;
}

.sing{
    background-color: transparent;
    font-size: 2vw;
    color:gold;
    text-decoration: none;
    outline: none;
    border:none;
}
.s1{
    background-color: transparent;
    font-size: 2vw;
    
    margin: 0 3vw;
    color:gold;
    text-decoration: none;
    outline: none;
    border:none;
}
.sing1  {
    background-color: transparent;
    font-size: 3vw;
    color:gold;
    text-decoration: none;
    margin: 0 1em;
    outline: none;
    border:none;
}
.logo{
    font-size: 4vw;
    color: white;
}
.logo1{
    font-size: 2.5vw;
    color: white;
}


.basket{
    display: block;
    margin: 0 1em;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top_nav_item_1{
    display: flex;
}

.srh{
    height: 4vw;
    width: 30vw;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border-color: transparent;
}
.srh-btn{
    width: 4vw;
    margin-left: 2%;
    height: 4vw;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    border-color: transparent;
}
.srh-btn_logo{
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
}

.item{
    color: #fff;
    font-size: 5vh;
    font-weight: bold;
    margin: 0 1em;
    outline: none;
    text-decoration: none;
}

.menu_close{
    opacity: 0;
    transition: 1s ease-in;
    top:0;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 35%;
    z-index: -1;
  }

.menu_close_btn1 {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -15px;
    width: 30px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #222;
  }
  .menu_close_btn2 {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -15px;
    width: 30px;
    transform: rotate(-45deg);
    height: 2px;
    background-color: #222;
  }
/*main container*/


.sector{
    display: block;
    top:0;
    left: 0;
    min-height: 100%;
    height: 100%;
    width: 35%;
    transform: translateX(-115%);
    position: absolute;
    overflow: scroll;
    scroll-snap-align: none;
    display: block;
    background-color: rgb(243, 234, 234);
    transition: 1s ease-in;
    z-index: 99;
  }
.genres{
    display: block;
    font-size: 2.7vw;
    font-weight: bold;
    padding-top: 0.3em;
    padding-left: 1em;
    outline: none;
    color: darkcyan;
    border: 2px solid transparent;
    text-decoration: none;
}

.g1{
    margin-top: 1em;
}
.genres:hover{
    border: 2px solid darkcyan;
}
.lang{
    text-align: right;
}
.ru{
    padding-right: 20px;
}
.auto{
    margin-left: 70%;
    width: 40vh;
    height: 30vh;
    display: none;
    position: absolute;
}
.auto_firs{
    color: white;
}
.auto_second{
    color: white;
    font-size: 1vw;
}
.auto_input{
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px ;
}
.auto_btn{
    margin-top: 15px;
    width: 252px;
    height: 33px;
    border: none;
    border-radius: 2px ;
    font-size: 1em;
    background-color:goldenrod;
    color: white;
    outline: none;
}
button{
    cursor: pointer;
}
.frame{
    margin-top: 10vh;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}
.frame_cnt{
    margin: 0 8vw;
    display: flex;
}

.frame_text{
    margin: 4vw 1vw;
    width: 50%;
    color: darkcyan;
}

.frame-img{
    margin: 1vw 0em;
    margin-right: 1em;
    max-width: 30vw;
    text-align: center;
}
img{
    max-width: 100%;
}


.first-line{
    font-size: 2vw;
    margin: 0.4vw 0;
}
.second-line{
    font-size: 2.8vw;
    margin: 0.4vw 0;
}
.third-line{
    font-size: 2vw;
    margin: 0.4vw 0;
}

.main{
    padding : 0.3em 2rem;   
    align-items: center;
    justify-content: center;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.colons{
    display: block;
    padding: 3vw 0;
    text-decoration: none;
    border:none;
}
.price, .info{
    color: darkcyan;
    border:none;
    text-decoration: none;
}

.content{
    text-align: center;
}
.img{
    width: 28vw;
    height: auto;
}
.icon{
    width: 3vw;
    height: 5vh;
}
.slider {
    position: relative;
}

img{
    width: 20vw;
    height: 30vw;
}
@media (max-width:900px){
	.slider {
        padding: 0px 40px;
    }
    img{
        height: 36vw;
        width: 24vw;
    }
    h1{
        padding-left: 4.6vw;
        font-size: 4vw;
        margin: 0 7vw;
    }
    
}

@media (max-width: 768px){
    img{
        height: 30vw;
        width: 20vw;
    }
    .icon{
        height: 3vw;
        width: 3vw;
    }
    h1{
        padding-left: 6vw;
        font-size: 4vw;
        margin: 0 7vw;
    }
}
@media (max-width: 600px){
    img{
        height: 30vw;
        width: 20vw;
    }
    .icon{
        height: 3vw;
        width: 3vw;
    }
    h1{
        padding-left: 8.5vw;
        font-size: 5vw;
        margin: 0 7vw;
    }

}
    
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -50px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 50px;
    height: 100px;
    opacity: .005;
    transition: 1s;
}

.slider:hover .slick-arrow{
    opacity: 1;
    transition: 1s;
}
.slider .slick-arrow.slick-prev:hover{
    background-color: rgb(182, 226, 226);
    outline: none;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('https://image.flaticon.com/icons/svg/126/126492.svg') no-repeat;
    background-position: center;
    background-size: 7vh;
}
.slider .slick-arrow.slick-next{
	right: 1vh;
    background: url("https://image.flaticon.com/icons/svg/126/126490.svg") 0 0 / 100% no-repeat;
    color: white;
    background-position: center;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}


.obl{
    background: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 10px;
}

.obl{
    margin: 3% 0;
}
h1{
    color:rgb(176, 235, 235);
    font-size: 3vw;
    margin: 0.5vw 0;
    color: darkgoldenrod;
}
.section{
    margin: 2%;
    margin-top:-1%;
    display: flex;
    justify-content: space-evenly;
    height: 80.3vh;
}
.section-first{
    width: 25%;
    text-align: center;
    background-color: #fff;
    height: 100%;
}

.first_section_text{
    color: gray;
    font-size: 1.4em;
}

.second_h1_container{
    font-size: 1.4em;
    font-weight: normal;
    color: black;
    

}
.section-second{
    width: 50%;
    color:black;
    padding: 2% 5%;
    background-color: #fff;
    height: 100%;
}
.button_container{
    margin: 5% 0;
}
.buy{
    color:  black;
    width: 16vw;
    height: 4vw;
    background-color:  rgb(202, 245, 245);
    outline: none;
    border-radius: 3px;
    font-size: 1.4em;
}
.buy:hover{
    background: linear-gradient(65deg, darkcyan, cyan);
    color:#fff;
    outline: none;
}

.massage{
    margin-left: 1.7%;
    width: 22vh;
    height: 4vw;
    outline: none;
    border-radius: 3px;
    font-size: 1.2em;
    border-color:linear-gradient(65deg, darkcyan, cyan); 
}

.massage:hover, .hurt:hover{
    background: linear-gradient(65deg, darkcyan, cyan); 
    color: white;
}
.hurt:hover{
    color:red;
    transform:translateZ(20%);
}
.hurt{
    margin-left: 1.8%;
    width: 4.2vw;
    height: 4.2vw;
    outline: none;
    border-radius: 50%;
    font-size: 2.5em;
    color: blue;
    text-align: center;
}
.section-third{
    width: 20%;
    padding:2% 2%;
    color:black;
    background-color: #fff; 
}

.pay{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.elsom{
    display: block;
    margin-top:5%;
    text-decoration: none;
    
}
.pay_card{
    font-size: 1.4em;
    font-weight: lighter;
    display: block;
    color: black;
    margin-left: 10%;
}
.demirbank{
    margin-top: 10%;
    display: block;
    text-decoration: none;
}

.text{
    margin: 10% 2%;
}

.footer{
    height: 16vh;
    background-color: rgb(221, 223, 226);
    text-align: center; 
}

.footer_text{
    text-align: center;
    padding-top: 5vh;
}
.icon{
    margin: 0 0.5vh;
}
.footer_section_first{
    display: flex;
}

.book{
    text-decoration: none;
    padding-top: 4vh;
    padding-right: 4vw;
    padding-left: 4vw;
    font-size: 2vw;
    display: block;
    color: #000;
}
.up{
    color: black;
    font-size: 1.5vw;
    padding-top: 4vh;
}

.footer_btn{
    margin-top: 4.5vh;
    margin-left: 5vh;
    width: 10vh;
    height: 5vh;
}
